@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", system-ui;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.sidebar {
    margin: 0;
    padding: 10px 20px;
    background-color: #1992D4 ;
    position: fixed;
    height: 100%;
    width: 320px;
}

.sidebar svg path {
    fill: #FFFFFF
}

.sidebar h2 {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500;
}

.sidebar div {
    display: flex;
    color: #FFFFFF;
    align-items: center;
}

.sidebar-title h2 {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 500;
}

.sidebar svg {
    width: 30px;
    height: 30px;
}

.sidebar > div h2 {
    margin-left: 20px;
}

.sidebar-title svg {
    width: 70px;
    height: 70px;
}

.sidebar > div[class^="sidebar-"]:not(.sidebar-title) {
    margin-left: 10px;
    cursor: pointer;
}

.sidebar-home {
    margin-top: 30px;
}

.sidebar-setting {
    margin-top: 40px;
}

.top-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-side svg {
    width: 30px;
    height: 30px;
}

.container {
    margin-left: 360px; 
    position: fixed;
    width: calc(100% - 360px);
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #FFFFFF;
    height: fit-content;
    padding: 10px 20px;
    flex-shrink: 0
}

.main-content{
    background-color: #E2E8F0;
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
}

.top-side svg {
    width: 30px;
    height: 30px;
}

.top-side {
    margin: 5px 50px;
}

.search-form{
    display: flex;
    width: 1000px;
    gap: 15px;
}

.search-bar {
    width: 100%;
    height: 30px;
    border-radius: 50px;
    background-color: #E2E8F0;
    border: none;
}

.header-profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-top-right{
    display: flex;
    align-items: center;
    gap: 25px;
}

.bottom-side {
    display: flex;
    justify-content: space-between;
    margin: 40px 50px 10px 50px;
}

.bottom-left-side {
    display: flex;
    gap: 20px;
}

.header-profile-picture-bottom{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.intro-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}

.intro-text p, .intro-text h2 {
    margin: 0;
}

.intro-text p {
    font-weight: 500;
}

.bottom-right-side{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 30px;
}

.bottom-right-side button {
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 30px;
    width: 120px;
    font-weight:600;
    border: none;
    background-color: #1992D4;
    color: #FFFFFF;
    cursor: pointer;
}

.left-content{
    width: 1100px;
}

.right-content{
    display: flex;
    justify-content: end;
}

.content-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
}

.left-content-child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 50px;
}

.right-content-child {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;
}

.announcement-data h4,
.announcement-data p {
    margin: 0;
    padding: 0; 
}

.announcement-data h4:not(.exclude-margin),
.announcement-data p {
    margin-top: 5px; 
}

.announcement-content {
    background-color: #FFFFFF;
    padding: 30px;
    height: 280px;
    width: 270px;
    border-radius: 10px;
}

.announcement-data:not(:first-of-type) {
    margin-top: 20px;
}

.trending-data {
    display: flex;
    align-items: center;
}

.trending-data-content p {
    margin: 0;
    padding: 0; 
}

.trending-data-content p:not(.trending-username){
    margin-top: 5px;
}

.trending-data img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.trending-data:not(:first-of-type) {
    margin-top: 20px;
}

.trending-data-content {
    margin-left: 10px;
}

.trending-content {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
}

.trending-title {
    font-size: 15px;
    color: #666565;
}

.trending-username {
    font-size: 17px;
}

[class^="rcontent-"] {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.yellow-side{
    width: 20px;
    height: inherit;
    background-color: #FACC15;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
}

.project-task {
    padding: 30px;
}

.project-button {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-right: 50px;
    padding-bottom: 30px;
    cursor: pointer;
}

.project-button svg {
    width: 30px;
    height: 30px;
}